.pageContainer {
  width: 100%;
  height: auto;
  padding: 2em 3em;
  box-sizing: border-box;
}

.notFoundContainer {
  width: 100%;
  height: 100vh;
  padding: 10em 10em;
  box-sizing: border-box;
}
